<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Ingrimp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MissionMad2"
        tools:targetApi="31">
        <activity
            android:name=".activities.nav_bar"
            android:exported="false" />
        <activity
            android:name=".activities.fetchPantry"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivityPantry"
            android:exported="false" />
        <activity
            android:name=".activities.PantryFetchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InsertPantryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PantryDetailsActivity"
            android:exported="false" />



        <activity
            android:name=".activities.IngredientDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.IngredientFetchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivityIngredient"
            android:exported="false" />
        <activity
            android:name=".activities.InsertIngredientActivity"
            android:exported="false" />


        <activity
            android:name=".activities.MainActivityGrocerieslist"
            android:exported="false" />
        <activity
            android:name=".activities.GroceriesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GroceriesFetchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InsertGroceriesActivity"
            android:exported="false" />















        <activity
            android:name=".activities.RecipeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FetchActivityRecipe"
            android:exported="false" />
        <activity
            android:name=".activities.InsertActivityRecipe"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivityRecipe"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>