<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADUI"
        tools:targetApi="31">
        <activity
            android:name=".Loading"
            android:exported="false" />
        <activity
            android:name=".ViewSubmittedRecipeis"
            android:exported="false" />
        <activity
            android:name=".recipe_Approvel_admin"
            android:exported="false" />
        <activity
            android:name=".recipie_submission"
            android:exported="false" />
        <activity
            android:name=".recipe_missing_ingredint"
            android:exported="false" />
        <activity
            android:name=".recipe_page"
            android:exported="false" />
        <activity
            android:name=".sidescoller"
            android:exported="false" />
        <activity
            android:name=".grocery_list"
            android:exported="false" />
        <activity
            android:name=".pantry"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Mypantry"
            android:exported="false" />
        <activity
            android:name=".MAD2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>